version: '3.7'

services:
  php:
    build: ./php
    container_name: task-php
    environment:
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    restart: always
    working_dir: /var/www/html
    volumes:
      - ./website:/var/www/html
    depends_on:
      - mysql
    networks:
      - task-network

  nginx:
    image: nginx:stable-alpine
    container_name: task-nginx
    restart: always
    ports:
      - {{ port_nginx }}:80
    volumes:
      - ./website:/var/www/html
      - ./nginx:/etc/nginx/conf.d 
    depends_on:
      - php 
    networks:
      - task-network  

  mysql:
    image: mysql:{{ ver_mysql }}
    container_name: task-mysql
    restart: always
    ports:
      - {{ port_mysql }}:3306    
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
    volumes:
      - mysql_php:/mysql.sql       
    networks:
      - task-network     

volumes:
  mysql_php:

networks:
  task-network:
